html {
    font-family: Helvetica;
    display: inline-block;
    margin: 0 auto;
    text-align: center
}

body {
    background-color: #191970;
    color: #fff
}

#main {
    display: table;
    margin: auto;
    padding: 30px 30px 30px 30px
}

#content {
    border: 2px solid #00f;
    border-radius: 15px;
    padding: 10px 10px 10px 10px
}

.card {
    max-width: 500px;
    min-height: 600px auto;
    background: #013220;
    padding: 5px;
    color: #fff;
    margin: 0 auto;
    box-shadow: 0 0 18px -4px rgba(255, 160, 0, 1)
}

.header-logo {
    text-align: center;
}

blc_line {
    display: inline-block
}

.button {
    transition-duration: .4s;
    background-color: #4c7aae;
    border: none;
    border-radius: 15px;
    color: #fff;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 20px;
    margin: 2px;
    cursor: pointer
}

.buttonDisabled {
    pointer-events: none;
    background-color: grey;
    cursor: not-allowed;
    border-radius: 15px;
    padding: 10px 10px;
    font-size: 20px;
    margin: 2px;
}

button.button:hover {
    background-color: #00f
}

button.button:active {
    background-color: red
}

.buttonWater {
    background-color: #000;
    border: none;
    border-radius: 15px;
    color: #fff;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 20px;
    margin: 2px;
    cursor: default;
    font: bold 18pt Arial, Helvetica, sans-serif
}

.hidden {
    display: none
}

h3 {
    text-align: center;
    font-size: 120%;
    margin: 10px 10px 10px 10px
}

h5 {
    text-align: center;
    font-size: 100%;
    margin: 1px 0 0 0
}