.card {
    float: right;
    margin-left: 20px;
}

.Destiller_img{
    position: absolute;
    text-align: center;
    top: 32%;
    left: 10%;
}

.pump {
    position: absolute;
    text-align: center;
    top: 470px;
    left: 826px;
    transform: translate(0%, -50%);
    cursor:grab;
}

.valve1_on {
    position: absolute;
    text-align: center;
    top: 597px;
    left: 370px;
    transform: translate(0%, -50%);
    cursor:grab;
}

.valve1_off {
    position: absolute;
    text-align: center;
    top: 598px;
    left: 356px;
    transform: translate(0%, -50%);
    cursor:grab;
}

.valve2_on {
    position: absolute;
    text-align: center;
    top: 118px;
    left: 470px;
    transform: translate(0%, -50%);
    cursor:grab;
}

.valve2_off {
    position: absolute;
    text-align: center;
    top: 117px;
    left: 456px;
    transform: translate(0%, -50%);
    cursor:grab;
}

.raq {
    position: absolute;
    text-align: center;
    top: 440px;
    left: 655px;
    transform: translate(0%, -50%);
    cursor:grab;
}

.tank {
    position: absolute;
    text-align: center;
    top: 440px;
    left: 605px;
    transform: translate(0%, -50%);
}

.button_Auto {
    position: absolute;
    text-align: center;
    top: 108px;
    left: 719px;
    transform: translate(0%, -50%);
    cursor:grab;
}

.button_Man {
    position: absolute;
    text-align: center;
    top: 209px;
    left: 719px;
    transform: translate(0%, -50%);
}